[color]
    status = auto
    diff = auto
    branch = auto
    interactive = auto
[interactive]
    singlekey = true
[alias]
    di = diff --ignore-submodules
    st = status --ignore-submodules
    ci = commit
    co = checkout
    cob = checkout -b
    sb = show-branch
    unstaged = diff
    staged = diff --cached
    both = diff HEAD
    oneline = log --pretty=oneline
    who = shortlog -s -n
    ismerged = branch --merged
    nomerged = branch --no-merged
    allstar = rebase -i
    ba = branch -a
    pullhere = branch -f pullme
    cont = rebase --continue
    mmerge = merge --no-ff
    graph = log --graph --oneline --decorate
    amend = commit --amend -v
    sm = submodule update --init --recursive
    lg = log --graph --decorate
[core]
    excludesfile = ~/.gitignore
    editor = /usr/local/bin/subl -w -n
    pager = /usr/local/share/git-core/contrib/diff-highlight/diff-highlight | less
[repack]
    usedeltabaseoffset = true
[svn]
    findcopiesharder = 1
    rmdir = 1
[status]
    submodulesummary = 0
[advice]
    implicitIdentity = true
[includeIf "gitdir:~/work/"]
    path = ~/.gitconfig-work
[includeIf "gitdir:~/privat/"]
    path = ~/.gitconfig-private
[user]
    name = André Wendt
[stash]
    showPatch = true
