[color]
    status = auto
    diff = auto
    branch = auto
    interactive = auto
[interactive]
    singlekey = true
[alias]
    di = diff
    st = status
    ci = commit
    co = checkout
    cob = checkout -b
    sb = show-branch
    unstaged = diff
    staged = diff --cached
    both = diff HEAD
    oneline = log --pretty=oneline
    who = shortlog -s -n
    ismerged = branch --merged
    nomerged = branch --no-merged
    allstar = rebase -i
    ba = branch -a
    pullhere = branch -f pullme
    push = push --set-upstream
    cont = rebase --continue
    mmerge = merge --no-ff
    graph = log --graph --oneline --decorate
    amend = commit --amend -v
    lg = log --graph --decorate
    fix-upstream = !git branch --set-upstream-to=origin/$(git rev-parse --abbrev-ref HEAD)
    recent = branch --sort=-committerdate --format="%(committerdate:relative)%09%(refname:short)"
    backmerge = "!git fetch origin && git merge --no-edit -m \"Merge branch '$1' into $(git branch --show-current)\" origin/$1"
    root = rev-parse --show-toplevel
    coi = !git branch --sort=-committerdate --format='%(refname:short)' | head -n 20 | fzf --height 40% | xargs git co
    trace = log --no-textconv -S
[core]
    excludesfile = ~/.gitignore
    pager = $(brew --prefix git)/share/git-core/contrib/diff-highlight/diff-highlight | less
[repack]
    usedeltabaseoffset = true
[svn]
    findcopiesharder = 1
    rmdir = 1
[status]
    submodulesummary = 0
[advice]
    implicitIdentity = true
[user]
    name = André Wendt
[includeIf "gitdir:~/work/"]
    path = ~/.gitconfig-work
[includeIf "gitdir:~/privat/"]
    path = ~/.gitconfig-private
[includeIf "gitdir:~/dotfiles/"]
    path = ~/.gitconfig-private
[stash]
    showPatch = true
[init]
    defaultBranch = main
[pull]
	ff = only
[push]
	autoSetupRemote = true
